# {{ ansible_managed }}
[Unit]
Description=Maildev - SMTP dev server
After=network.target

[Service]
Type=simple
User={{ maildev_user }}
ExecStart=/usr/local/bin/maildev --smtp {{ maildev_smtp_port }} --web {{ maildev_web_port }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
