roles/*
!roles/requirements.yml
!roles/app/
!roles/runtime/
!roles/webserver/
!roles/database/
!roles/maildev/
!roles/postfix/
!roles/backup/
.vagrant
*.retry
.virtualenv
*.pyc
.idea
*.iml
*.iws
*vault_pass*.txt
.ansible
.claude
